* {
  box-sizing: border-box;
  font-family: $font-family-main;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent page scroll */
  background: $color-bg-gradient;
  color: $color-text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.u-hidden {
  display: none !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 800px;
}
