// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

* {
  font-family: "Poppins";
}

body {
  height: 100vh;
  background-color: #244142;

}

.container-head {
  border-radius: 5px;
  background-color: #192124;
  gap: 100px;

  h1 {
    color: white;
  }
}


.task-completed {
  .task-text {
    text-decoration: line-through;
    opacity: 0.5;
  }
}